name: Send Matrix Notification

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send message to Matrix
        run: |
          BODY="$GITHUB_ACTOR has updated $GITHUB_REPOSITORY"
          curl -XPOST \
            "$MATRIX_HOMESERVER/_matrix/client/v3/rooms/$MATRIX_ROOM/send/m.room.message?access_token=$MATRIX_TOKEN" \
            -H "Content-Type: application/json" \
            -d "{\"msgtype\":\"m.text\", \"body\":\"$BODY\"}"
        env:
          MATRIX_HOMESERVER: ${{ secrets.MATRIX_HOMESERVER }}
          MATRIX_ROOM: ${{ secrets.MATRIX_ROOM }}
          MATRIX_TOKEN: ${{ secrets.MATRIX_TOKEN }}
